<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="m-2 col-12">
          <%= render partial: 'movements/form_annulments', locals: {
            movement: @movement, 
            type: @type, 
            customer: @customer,
            discount: @discount,
            conversion: @conversion
          } %>
        </div>
      </div>
    </div>
  </div>
</div>
