<!-- CLIENTES MASCULINOS ACTIVOS -->
<div class="row">
  <div class="col-xl-6">
    <div class="card mb-3">
      <div class="card-body">
      <h4 class="header-title">CLIENTES MASCULINOS ACTIVOS</h4>
        <%= pie_chart([
          {name: "Niños", data: get_count_type_customers(@customers, :masculine, "ninio") },
          {name: "Adolescentes", data: get_count_type_customers(@customers, :masculine, "adolescente")},
          {name: "Jovenes", data: get_count_type_customers(@customers, :masculine, "jovenes")},
          {name: "Adultos", data: get_count_type_customers(@customers, :masculine, "adultos")}
        ], legend: "left") %>
      </div>
    </div>
  </div>

<!-- CLIENTES FEMENINOS ACTIVOS -->
  <div class="col-xl-6">
    <div class="card mb-3">
      <div class="card-body">
      <h4 class="header-title">CLIENTES FEMENINAS ACTIVAS</h4>
        <%= pie_chart([
          {name: "Niños", data: get_count_type_customers(@customers, :feminine, "ninio") },
          {name: "Adolescentes", data: get_count_type_customers(@customers, :feminine, "adolescente")},
          {name: "Jovenes", data: get_count_type_customers(@customers, :feminine, "jovenes")},
          {name: "Adultos", data: get_count_type_customers(@customers, :feminine, "adultos")}
        ], legend: "left") %>
          
      </div>
    </div>
  </div>


<!-- ESTADOS DE CLIENTES -->

  <div class="col-xl-6">
    <div class="card mb-3">
      <div class="card-body">
      <h4 class="header-title">ESTADOS DE CLIENTES</h4>
        <%= pie_chart([
          {name: "Activo", data: get_count_status_customers(@company, :active).to_i},
          {name: "Inactivo", data: get_count_status_customers(@company, :inactive).to_i},
          {name: "Pendiente", data: get_count_status_customers(@company, :pending).to_i},
          {name: "Dormido", data: get_count_status_customers(@company, :asleep).to_i}
        ], legend: "left") %>
          
      </div>
    </div>
  </div>
  
</div>
