<div class="card">
  <div class="card-body">
    <h4 class="header-title mb-3"><%= "#{person_email.person.full_name}" %></h4>
    <h6 class="header-title mb-3"><%= "#{person_email.email}" %></h6>

    <p><%= get_badges_person_email(person_email) %></p>
  </div>
</div>