<!-- lib/templates/erb/scaffold/index.html.erb.tt -->

<% set_page_title("Parentezco") %>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="m-2 col-12">
          <div class="flexitems-center mb-4">
            <% if (can? :create, Relationship.new) %>
              <%= link_to 'Nuevo Parentezco', new_relationship_path, class: "btn btn-primary" %>
            <% end %>
          </div>

          <div class=" rounded shadow p-2">
            <table id="relationships-table" class="table table-striped dt-responsive nowrap ">
              <thead>
                <tr>
                  <th class="p-3 uppercase text-left text-xs text-gray-700">Nombre</th>
                  <th class="p-3 uppercase text-left text-xs text-gray-700">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <% if !@relationships.blank? %>
                  <% @relationships.each do |relationship| %>
                    <tr class="group border-t border-gray-400 hover:bg-gray-100">
                      <td class="p-3"><%= relationship.name %></td>
                      <td>
                        <%= link_to 'Ver', relationship, class: "btn btn-outline-danger" if can? :read, relationship %>
                        <%= link_to 'Editar', edit_relationship_path(relationship), class: "btn btn-outline-danger" if can? :update, relationship %>
                      </td>
                    </tr>
                  <% end %>
                <% else %>
                  <td colspan="2">No se encontraron datos</td>
                <% end %>
              </tbody>
            </table>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render partial: 'layouts/index_js' %>
