
<% set_page_title("Nuevo Movimiento desde Entidad") %>



<div class="row">
  <div class="col-12 card">
    <div class="card-body">
      <div class="m-2 col-12">
        <div class="container mx-auto my-8 px-4">
          <div class="max-w-xl mx-auto">
            <%= render partial: 'groups/form_movement', locals: { movement: @movement, group: @group, person: @person } %>
          </div>
        </div>

        <%= link_to 'Volver', person_balance_path(id: @person), class: "btn btn-secondary m-4" %>
      </div>
    </div>
  </div>
</div>

