

<% set_page_title("Editar Empleado") %>

<div class="row">
  <div class="col-12 card">
    <div class="card-body">
      <div class="m-2 col-12">
        <div class="container mx-auto my-8 px-4">
          <div class="max-w-xl mx-auto">
            <%= render 'form', user: @user %>
          </div>
        </div>

        <%= link_to 'Volver', users_path, class: "btn btn-secondary m-4" %>
      </div>
    </div>
  </div>
</div>