<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title"><%= yield(:content_title) %></h4>
        </div>
    </div>
</div>