<!-- Theme Toggle Button -->
<div style="position: fixed; top: 20px; right: 20px; z-index: 9999;">
  <button class="btn " 
      type="button" 
      data-action="click->theme#toggle" 
      data-theme-target="toggle">
    <i class="mdi mdi-theme-light-dark"></i>
</button>
</div>

