<div class="row mb-4">
  <div class="col-12">
    <div class="text-center">
      <h2 class="mt-0"><i class="mdi mdi-check-all"></i></h2>
      <h3 class="mt-0">¡Listo!</h3>

      <p class=" mb-2 mx-auto text-success h4">Alta de cliente <strong><%= @customer.person.full_name %></strong>
        en <strong><%= @customer.company.name %></strong></p>
    </div>
  </div> <!-- end col -->
</div> <!-- end row -->