<%= turbo_frame_tag 'new_customer_wizard_result' do %>
  <div class="d-flex align-items-center border border-light rounded col-2 offset-5">
    <div class="flex-shrink-0 me-2">
      <i class="mdi mdi-checkbox-marked-circle-outline widget-icon rounded-circle bg-success-lighten text-success"></i>
    </div>
    <div class="flex-grow-1">
      <h5 class="fw-semibold my-0">Persona Válida</h5>
      <p class="mb-0"></p>
    </div>
  </div>
<% end %>