          
<%= render 'company_settings/edit_days_sleep', model: @company, attribute: :days_sleep do %>
  <span class="leading-normal"><%= @company.days_sleep %> Días para dormir beneficiarios</span>
<%end%>
       