<div class="mx-md-5 my-4 min-vh-100 card card-body shadow rounded">
  <div class="error-page-area py-120 text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">Ups!</span>
          <div class="mb-4 lead">No deberías estar aquí...</div>
          <%= link_to "Volver", root_path, class:'btn btn--red' %>
        </div>
      </div>
    </div>
  </div>
</div>