<div class="mx-md-5 my-4 min-vh-100 card card-body shadow rounded">
  <div class="error-page-area py-120 text-center">
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-8 col-md-10">
          <div class="mb-50">
            <h2>Lo siento, no tienes acceso o no se encontró la página.</h2>
          </div>
          <a href="<%= root_path %>" class="btn btn-danger m-2 p-2">Volver al inicio</a>
     
        </div>
      </div>
    </div>
  </div>
</div>