<br/>
<div class="row">
  <div class="col-sm-6 col-md-3">
      Admite Venta Canje: 
  </div>
  <div class="col-sm-6 col-md-3">
    <%= render 'branch_settings/edit_admits_exchange', branch: @branch, attribute: :admits_exchange %>
  </div>
</div>
<br/>