<br/>
<div class="row">
  <div class="col-sm-6 col-md-3">
      Admite Canje por Catalogo: 
  </div>
  <div class="col-sm-6 col-md-3">
    <%= render 'branch_settings/edit_admits_product_exchange', branch: @branch, attribute: :admits_product_exchange %>
  </div>
</div>
<br/>