<% frame_id = dom_id(model, "#{attribute}_turbo_frame")%>

<%= form_with model: model, class: 'contents', data:{ turbo_frame: frame_id}  do |form| %>
  <%= turbo_frame_tag frame_id, data: { turbo: true } do %>
      <div class="row">
        <div class="col-3">
          <%= yield %>
        </div>
        <div class="col-1">
          <%=link_to '<i class="mdi mdi-lead-pencil"></i>'.html_safe, branch_edit_days_sleep_path(model), class: "btn btn-primary" %>
        </div>
      </div>
  <%end %>
<%end%>
