<% frame_id = dom_id(form.object, "#{attribute}_turbo_frame")%>

<%= turbo_frame_tag frame_id, data: { turbo: true }, class: 'contents' do %>
  <div class="row">
    <div class="col-3">
      <%= yield %>
    </div>
    <br/>
    <div class="col-7">
      <%= form.button 'Guardar', class: "btn btn-success"%>
      <%= link_to 'Cancelar', form.object, class: "btn btn-danger"%>    
    </div>
  </div>
<%end %>1

