<li class="side-nav-item">
  <a href="<%= branch_alerts_path %>" 
     class="nav-link sidebar-nav-item" 
     data-sidebar-navigation-target="navItem">
    <i class="mdi mdi-alert-circle mx-1" title="Alertas"></i>
    <span> Alertas </span>
    <% if show_branch_alerts_badge? %>
      <span class="mx-3 badge bg-danger float-end rounded-pill"><%= branch_alerts_count %></span>
    <% end %>
  </a>
</li>