<li class="side-nav-item">
  <a href="<%= companies_path %>" 
     class="nav-link sidebar-nav-item" 
     data-sidebar-navigation-target="navItem">
    <i class="mdi mdi-store mx-1" title="Comercios"></i>
    <span> Comercios </span>
  </a>
</li>