<li class="side-nav-item">
  <a href="<%= groups_path %>" 
     class="nav-link sidebar-nav-item" 
     data-sidebar-navigation-target="navItem">
    <i class="mdi mdi-domain mx-1" title="Entidades"></i>
    <span> Entidades </span>
  </a>
</li>